body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 70px;
  text-align: center;
  /* margin-right: 16px; */
  
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  padding: 16px;
  gap: 16px; 
}

.App {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-content {
  padding-bottom: 80px; 
  text-align: center;
}

/* .material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 40px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
} */